<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- 隐式地向Spring容器注册了注解处理器 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.hangzhou.tfchen.webservice"/>
    <context:component-scan base-package="com.hangzhou.tfchen.common.dao"/>
    <context:component-scan base-package="com.hangzhou.tfchen.common.service"/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>


    <!-- 通过注解 @value注入配置文件的值 -->
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>

    <!-- CXF Web Service -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="tfchenSoapImpl" class="com.hangzhou.tfchen.webservice.Impl.TfchenSoapImpl"/>
    <jaxws:endpoint id="tfchenService" address="/tfchenService" implementor="#tfchenSoapImpl"/>

    <bean id="dadeSoapImpl" class="com.hangzhou.tfchen.webservice.Impl.DadeSoapImpl"/>
    <jaxws:endpoint id="dadeService" address="/dadeService" implementor="#dadeSoapImpl"/>

    <bean id="tfchenRestfulImpl" class="com.hangzhou.tfchen.webservice.Impl.TfchenRestfulImpl"/>
    <jaxrs:server id="tfchenRestService" address="/tfchenRestService">
        <jaxrs:serviceBeans>
            <ref bean="tfchenRestfulImpl"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <bean id="dadeRestfulImpl" class="com.hangzhou.tfchen.webservice.Impl.DadeRestfulImpl"/>
    <jaxrs:server id="dadeRestService" address="/dadeRestService">
        <jaxrs:serviceBeans>
            <ref bean="dadeRestfulImpl"/>
        </jaxrs:serviceBeans>
    </jaxrs:server>

    <!-- 注入工具类 -->
    <bean id="springApplicationContextHolder" class="com.hangzhou.tfchen.context.SpringApplicationContextHolder"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <!--
        <property name="driverClassName" value="com.mchz.brook.jdbc.proxy.DriverLoggingProxy" />
        <property name="url" value="jdbc:jdbcdslog:oracle:thin:@192.168.60.95:1521/wangzw;targetDriver=oracle.jdbc.OracleDriver" />
        -->
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@192.168.60.95:1521/wangzw"/>
        <property name="username" value="tfchen"/>
        <property name="password" value="tfchen"/>
        <property name="maxActive" value="100"></property>
        <property name="maxIdle" value="30"></property>
        <property name="minIdle" value="5"></property>
        <property name="maxWait" value="5000"></property>
        <property name="removeAbandoned" value="true"></property>
        <property name="removeAbandonedTimeout" value="3000"></property>
        <property name="validationQuery" value="select 1 from dual"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:sqlmap/common/*.xml" />
    </bean>

    <!-- spring与mybatis整合配置，扫描所有dao -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.hangzhou.tfchen.common.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="remove*" propagation="REQUIRED"/>
            <tx:method name="modify*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="txServiceMethod" expression="execution(* com.hangzhou.tfchen.dao.*.*(..))"/>
        <aop:advisor pointcut-ref="txServiceMethod" advice-ref="txAdvice"/>
    </aop:config>

</beans>